acme==2.11.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
aiosqlite==0.20.0
ajsonrpc==1.2.0
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.10.1
anyio==3.7.1
appdirs==1.4.4
argcomplete==3.5.2
asyncpg==0.29.0
attrs==23.2.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.3
billiard==4.2.1
blinker==1.9.0
blivet==3.10.0
blivet-gui==2.6.0
blurhash==1.1.4
boto3==1.35.90
botocore==1.35.90
bottle==0.13.2
Brlapi==0.8.5
Brotli==1.1.0
cached-property==1.5.2
celery==5.4.0
certbot==2.11.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
colorlog==6.8.2
commonmark==0.9.1
ConfigArgParse==1.7
configobj==5.0.8
contourpy==1.2.0
cryptography==44.0.0
cupshelpers==1.0
cycler==0.11.0
Cython==3.0.9
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
discord.py==2.4.0
distlib==0.3.7
distro==1.9.0
dnf==4.22.0
docker==6.1.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
evdev==1.7.1
exif==1.6.0
fast_simplification==0.1.9
fedora-third-party==0.10
feedparser==6.0.11
file-magic==0.4.0
filelock==3.13.1
Flask==3.1.0
flower==2.0.1
fonttools==4.50.0
fros==1.1
frozenlist==1.4.1
fs==2.4.16
gmpy2==2.1.5
gmsh==4.12.2.dev1
gpg==1.23.2
gssapi==1.7.3
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
humanize==3.13.1
idna==3.10
ifaddr==0.1.7
imageio==2.34.0
iso639==0.1.4
itsdangerous==2.2.0
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.5
jmespath==1.0.1
josepy==1.14.0
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
jupyter_core==5.1.0
keyring==24.3.1
kiwisolver==1.4.7
koji==1.35.1
kombu==5.4.2
langtable==0.0.68
lazy_loader==0.3
libcomps==0.1.20
libdnf==0.73.4
louis==3.28.0
lutris==0.5.18
lxml==5.1.0
Mako==1.2.3
mapbox_earcut==1.0.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.0
Mastodon.py==1.8.1
matplotlib==3.8.4
maubot==0.5.0
mautrix==0.20.6
mbc==0.5
mdurl==0.1.2
meshio==5.3.5
moddb==0.12.0
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.1.0
mutagen==1.47.0
networkx==3.2.1
nftables==0.1
numexpr==2.8.5
numpy==1.26.4
numpy-stl==2.17.1
ohgo==1.0.2
olefile==0.47
openctm==0.0.6
packaging==23.2
paramiko==3.5.0
parsedatetime==2.6
Paste==3.7.1
pbr==5.11.1
pexpect==4.9.0
pid==2.2.3
pillow==10.3.0
platformdirs==3.11.0
platformio==6.1.16
plum-py==0.8.7
ply==3.11
pooch==1.8.2
productmd==1.43
progressbar2==3.53.2
prometheus_client==0.21.1
prompt_toolkit==3.0.48
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.6.0
pycairo==1.25.1
pyclipper==1.2.0
pycollada==0.8
pycparser==2.22
pycrypto==2.6.1
pycryptodomex==3.21.0
pycups==2.0.4
pycurl==7.45.2
pydantic==2.10.4
pydantic_core==2.27.2
pyelftools==0.31
pygit2==1.14.0
pyglet==1.5.27
Pygments==2.17.2
PyGObject==3.48.2
pykickstart==3.52
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
pypresence==4.3.0
pyproj==3.7.0
PyQt5-sip==12.13.0
PyQt6==6.7.0
PyQt6-sip==13.6.0
pyrate-limiter==2.10.0
pyRFC3339==1.1
pyroute2==0.7.3
pyrsistent==0.20.0
pyserial==3.5
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-fcl==0.7.0.6
python-magic==0.4.27
python-meh==0.51
python-pam==2.0.2
-e git+https://github.com/TomCasavant/python-steam-api@45c69dfecf1a98592419b0d2728b1806c3f77e40#egg=python_steam_api
python-utils==3.7.0
pytz==2024.2
pyudev==0.24.1
PyYAML==6.0.1
questionary==2.0.1
redis==5.2.1
referencing==0.31.1
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
requests-gssapi==1.2.3
rich==13.7.0
rpds-py==0.18.1
rpm==4.19.1.1
rpmautospec==0.7.3
rpmautospec-core==0.1.5
Rtree==1.3.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.4
scikit-image==0.22.0
SciPy==1.11.3
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7/src
semantic-version==2.10.0
sepolicy @ file:///builddir/build/BUILD/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.0.3
sgmllib3k==1.0.0
shapely==2.0.6
shtab==1.6.1
simpleline==1.9.0
six==1.17.0
slugify==0.0.1
sniffio==1.3.0
sos==4.7.2
soupsieve==2.6
starlette==0.39.2
svg.path==4.1
sympy==1.12
systemd-python==235
tabulate==0.9.0
Tempita==0.5.2
templated-dictionary==1.5
texttable==1.6.7
tifffile==2024.2.12
toml==0.10.2
toolz==0.12.0
tornado==6.4.2
traitlets==5.14.1
trimesh==4.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.30.6
vhacdx==0.0.4
vine==5.1.0
virtualenv==20.21.1
wcwidth==0.2.13
websocket-client==1.3.3
websockets==12.0
Werkzeug==3.1.3
wsproto==1.2.0
xkbregistry==0.3
xxhash==3.5.0
yarl==1.13.1
yt-dlp==2024.9.27
zeroconf==0.118.0
zombie-imp==0.0.2
zstandard==0.22.0
